<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.TraceEvent" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.23.0" newVersion="2.0.23.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PrimaryAgentId" value="3265CE09-A8D8-42C7-9F3E-CE54F39FF44C" />
    <add key="RunAsAgentId" value="3265CE09-A8D8-42C7-9F3E-CE54F39FF44C" />
    <add key="MessagingConnectionString" value="EnableLargeMessageSending=false;EnableEncryption=false;ServiceBusType=SBWS;ServiceBusQueueName=QUEUE-NAME;ServiceBusNamespace=ConcertSBNamespace;QueueNameWithUri=&quot;ServiceBusMessaging://QUEUE-NAME/&quot;;ReceiveMode=ReceiveAndDelete;CompressIfOver=10000000;ServiceBusConnectionstring=&quot;Endpoint=sb://guangdesktop.finivation.com/ConcertSBNamespace;StsEndpoint=https://guangdesktop.finivation.com:9355/ConcertSBNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Aboevhdws5wrnTFDlmKQ3FieKwo9lUUJr//EKiP8Zm8=&quot;" />
    <add key="InternalQueuesMessagingApi" value="InMemory" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>