<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.ExceptionHandling.Logging" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net461" />
  <package id="Finivation.Common.Caching" version="1.2.513" targetFramework="net461" />
  <package id="Finivation.Common.Collections" version="1.2.513" targetFramework="net461" />
  <package id="Finivation.Common.Core" version="1.2.517" targetFramework="net461" />
  <package id="Finivation.Common.Encryption" version="1.2.517" targetFramework="net461" />
  <package id="Finivation.Common.Helpers" version="1.2.517" targetFramework="net461" />
  <package id="Finivation.Common.HttpClient" version="1.2.517" targetFramework="net461" />
  <package id="Finivation.Common.Logging" version="1.2.517" targetFramework="net461" />
  <package id="Finivation.Common.System" version="1.2.517" targetFramework="net461" />
  <package id="Finivation.Concert.Agent" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.CommandLib" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.Configuration.Helpers" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.EventTracing" version="1.1.1278" targetFramework="net461" />
  <package id="Finivation.Concert.Message.Logging" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.MessagingTools" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.Routing" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.RoutingService" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.Service.FileSvc" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.Service.FolderMonitoringService" version="1.1.1267" targetFramework="net461" />
  <package id="Finivation.Concert.Service.HttpListenerSvc" version="1.0.1268" targetFramework="net461" />
  <package id="Finivation.Concert.Service.HttpSvc" version="1.1.1278" targetFramework="net461" />
  <package id="Finivation.Concert.Service.MonitoredQueueBasedServiceBase" version="1.1.1278" targetFramework="net461" />
  <package id="Finivation.Concert.Service.MonitoredServiceBase" version="1.1.1278" targetFramework="net461" />
  <package id="Finivation.Concert.Shared" version="1.1.1278" targetFramework="net461" />
  <package id="Finivation.Concert.TraceEvent.EventSourceMonitor" version="1.1.630.0" targetFramework="net461" />
  <package id="Finivation.Integration.Cufx.Concert.v4" version="4.0.29" targetFramework="net461" />
  <package id="Finivation.Integration.Cufx.v4" version="4.0.72.0" targetFramework="net461" />
  <package id="Finivation.Messaging.Core" version="1.0.541" targetFramework="net461" />
  <package id="Finivation.Messaging.Helpers" version="1.0.541" targetFramework="net461" />
  <package id="Finivation.Messaging.InMemory" version="1.0.524" targetFramework="net461" />
  <package id="Irony" version="0.9.1" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="2.0.23" targetFramework="net461" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.8" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.8" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="Quartz" version="3.0.7" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net461" />
</packages>