<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Finivation.Common.Core" version="1.2.517" targetFramework="net461" />
  <package id="Finivation.Common.Helpers" version="1.2.517" targetFramework="net461" />
  <package id="Finivation.Concert.EventTracing" version="1.1.1278" targetFramework="net461" />
  <package id="Finivation.Concert.Shared" version="1.1.1278" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>